<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.tiny.cloud/1/w1oqeoai6gzdzrggfs57eka5qds7sqi4am42b1o8392qgrrx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
    <title>Card customizer</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
